.eventSelectionWrapper {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;

    @media (max-width: 700px) {
        & {
            width: 100%;
        }
    }
}

.eventSelection {
    clear: both;
    overflow: hidden;

    > input[type="radio"] {
        display: none;
    }

    label {
        position: relative;
        line-height: 2.5em;
        margin-top: 10px;
        cursor: pointer;
        width: 100%;
        display: flex;
        border-radius: 3px;
        align-items: center;

        > div {
            display: flex;
            align-items: center;
            padding: 10px 10px;
            border-radius: 3px 0 0 3px;
            transition: 0.3s ease;

            > * {
                opacity: 0;
                transition: 0.3s ease;
            }
        }

        > p {
            flex-grow: 1;
            padding: 10px 0 10px 10px;
            border-radius: 0 3px 3px 0;
            transition: 0.3s ease;
        }

        &:hover {
            > div > * {
                opacity: 0.5;
                color: #777777;
            }
        }
    }

    input[type="radio"]:checked ~ label {
        > div {
            > * {
                opacity: 1;
                color: #fff !important;
            }
        }
    }
}
