.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    height: 100%;
    padding: 10px 5%;
    justify-content: center;
}

.stepperStep {
    > span {
        > span {
            > svg {
                width: 24px;
                height: 24px;
            }
        }
    }
}
