.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
    overflow: auto;
    padding: 10px;

    &::before ,
    &::after {
        content:'';
        flex:1;
    }
}
