.content {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    height: 100%;
    padding: 10px 5%;

    > * {
        margin: auto;
    }
}

.stepperStep {
    > span {
        > span {
            > svg {
                width: 24px;
                height: 24px;
            }
        }
    }
}
